
<ion-content>

  <ion-header>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" rel="stylesheet">
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@900&amp;display=swap" rel="stylesheet">
    <link href="https://coopeere.microcampos.com.br/assets/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fork-awesome@1.2.0/css/fork-awesome.min.css" integrity="sha256-XoaMnoYC5TH6/+ihMEnospgm0J1PM/nioxbOUdnM8HY=" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.10/jquery.mask.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&amp;display=swap" rel="stylesheet">
    <script src="../home/ionic-modified.js"></script>
    <nav class="navbar navbar-expand-lg">
      <div class="container flex-col sm:flex-row">
        <a class="navbar-brand" href="/">
          <img class="pb-2" src="../../../assets/images-coopeere/DMNS_LOGO_BLACK-crop.png" style="max-width: 30%;" alt="DMNS">
 
        </a>
        
      
      </div>
    </nav>
  </ion-header>

  
  <ion-content>
    <br>
    <br>
    <br>
<div class="container">
  <form>
    
    <h2>Opa.. tudo bem?</h2>
   
    <h4>Estamos com nossa plataforma em construção. <br> Mas você pode consumir todos os nossos posts, tem muito conteúdo bacana por lá  </h4>


    <ion-button color="success" routerLink="/posts"> NAVEGAR ATÉ TODOS OS POSTS</ion-button>

    <br><br><br>
    <h4>Alguma dúvida? Algum problema? Fala com a gente</h4>



    <ion-button (click)="openExternalLinkWhatsAppLuan()">FALAR COM LUAN (CO-CEO)</ion-button>
    <br>
    <ion-button (click)="openExternalLinkWhatsAppDemi()">FALAR COM DEMETRIUS (CO-CEO)</ion-button>
    <!--
    <ion-button (click)="copyLink()"> COPIAR LINK</ion-button>
    -->

    <br><br>
    Compartilha pros teus melhores amigos,
    <br> que o conteúdo aqui é brabo demais.

  </form>
</div>
</ion-content>