

<ion-content>

  
<ion-header class="header-header">  
  
  <div [routerLink]="['/login']">
    <ion-icon class="login-icon" style="color:#fff;" name="person"></ion-icon>
    <ion-label class="login-label" style="color:#fff;" class="label-header" >LOGIN</ion-label>
  </div>
    |
    <div style="padding-left: 18px;" [routerLink]="['/signup']">
      <ion-icon class="signup-icon" style="color:#fff;" name="pencil"></ion-icon>
      <ion-label class="signup-label"  style="color: #fff; padding-left: 10px;" >CADASTRE-SE</ion-label>
    </div>
    
    
  
  </ion-header>



  <ion-header class="header hide-header">
    
    
      <ion-img  [routerLink]="['/onboarding']"  style="max-width: 170px; min-width: 170px; padding-right: 60px;" src="../../../assets/img/DMNN-removebg-preview.png"></ion-img>
    

    
    <ion-button fill="clear" style="color:#000;"  [routerLink]="['/posts']" routerLinkActive="active-link">Posts</ion-button>
    
    <div class="dropdown">
      <a [routerLink]="['/onboarding']" style="color:#000;" routerLinkActive="active-link">O que é Domminus? <svg class="arrowicon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="18" height="18"><path fill="none" d="M0 0h24v24H0z"/><path d="M12 13.172l4.95-4.95 1.414 1.414L12 16 5.636 9.636 7.05 8.222z"/></svg></a>
      <div class="dropdown-content">
        <a [routerLink]="['/quemsomos']" class="dropdown-item">Quem Somos?</a>
        <a [routerLink]="['/objetivos']" class="dropdown-item">Objetivo</a>
        <a [routerLink]="['/equipe']" class="dropdown-item">A Equipe</a>
      </div>
    </div>
  
    <ion-button fill="clear" style="color:#000;"  [routerLink]="['/estatuto']" routerLinkActive="active-link">Core Values</ion-button>
    <ion-button fill="clear" style="color:#000;"  [routerLink]="['/legislacao']" routerLinkActive="active-link">Compliance</ion-button>
    <ion-button fill="clear" style="color:#000;" [routerLink]="['/vantagens']" routerLinkActive="active-link">Vantagens</ion-button>
    <ion-button fill="clear" style="color:#000;"  [routerLink]="['/parceiros']" routerLinkActive="active-link">Parceiros</ion-button>
    <ion-button fill="clear" style="color:#000;" [routerLink]="['/faleconosco']" routerLinkActive="active-link">Fale Conosco</ion-button>

    

    <div>
      <a href="#modal_1" class="btn2">
        <ion-icon style="font-size: 25px; font-weight: bold;" name="search"></ion-icon></a>

  
  </div>



  </ion-header>

  <ion-header class="searchbar">
    <ion-toolbar>
      <ion-searchbar placeholder="Pesquise por título, palavra-chave, etc.." [(ngModel)]="searchTerm" ></ion-searchbar>
    </ion-toolbar>
  </ion-header>
  

<div class="minimum-header">
    
  <ion-img class="logo-min-header" [routerLink]="['/onboarding']" style="max-width: 30%;" src="../../../assets/images-coopeere/DMNS_LOGO_BLACK-crop.png"></ion-img>

 
  

  <!-- TESTANDO O MENU HAMBURGUER COM DROPDOWN -->
<div class="menu-min-header">
  <nav class="thenav">
    <div class="hamburger-menu-X" (click)="toggleMenu()">
      <div class="bar-X"></div>
      <div class="bar-X"></div>
      <div class="bar-X"></div>
    </div>
    <ul class="menu-items-X" *ngIf="showMenu">
      <br>
      <ul>
        <li><a [routerLink]="['/posts']" routerLinkActive="active-link">POSTS</a></li>
        <li class="dropdown-mmh">
          <a>A DMNS</a>
          <div class="dropdown-mmh-content">
            <a [routerLink]="['/quemsomos']" class="dropdown-item">O que é Dominnus?</a>
            <a [routerLink]="['/building']" class="dropdown-item">Objetivo</a>
            <a [routerLink]="['/equipe']" class="dropdown-item">A Equipe</a>
          </div>
        </li>
        <li><a [routerLink]="['/building']" routerLinkActive="active-link">Core Values</a></li>
        <li><a [routerLink]="['/building']" routerLinkActive="active-link">Compliance</a></li>
        <li><a [routerLink]="['/building']" routerLinkActive="active-link">VANTAGENS</a></li>
        <li><a [routerLink]="['/building']" routerLinkActive="active-link">PARCEIROS</a></li>
        <li><a [routerLink]="['/building']" routerLinkActive="active-link">FALE CONOSCO</a></li>
      </ul>
      
      

      
    </ul>
  </nav>
</div>   

<!-- 
  
  PACK DE CLASSES EM COMUM EM TODAS AS PAGINAS

  * menu-items-X
  * minimum-header
  * menu-min-header
  * thenav
  * hamburger-menu-X
  * bar-X

-->
  
  <!-- FIM DO TESTE DO MENU HAMBURRGUER COM DROPDOWN -->

</div>

<div class="menu-lateral-x">
  <ion-list class="menu-lateral">
    <ion-label fill="clear" [routerLink]="['/building']">Eventos</ion-label>
    <ion-label style="color: #7b9a6e;" fill="clear" [routerLink]="['/building']" routerLinkActive="active-link">Publicações</ion-label>
    <ion-label fill="clear" [routerLink]="['/building']">Agenda</ion-label>
    <ion-label fill="clear" [routerLink]="['/building']">Galeria de fotos</ion-label>
    <ion-label fill="clear" [routerLink]="['/building']">Trabalhe Conosco</ion-label>
  </ion-list>
</div>


<div class="text-container-novo">

  <h1 class="titulos-blog">
    Postura profissional: como desenvolver a sua de forma adequada
  </h1>

  <p class="postagens-blog">
    Ter uma postura profissional no trabalho é de extrema importância para todo profissional que deseja desenvolver a carreira. <br> <br>
Isso porque a conduta que você adotar no seu trabalho vai gerar benefícios a médio e longo prazo, tanto para você quanto para a sua empresa. <br> <br>
Portanto, tenha um comportamento de acordo com os resultados que você quer para a sua vida profissional. <br> <br>
Mas, para você tomar as medidas necessárias para ter uma excelente postura profissional no seu trabalho, a Dominnus preparou esse conteúdo completo. Por isso, continue com a gente e aproveite! <br> <br>

  </p>

<img class="imagens-blog"  src="https://images.unsplash.com/photo-1590650516494-0c8e4a4dd67e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=871&q=80" alt="">
<h3 class="titulos-blog">  O que é postura profissional? </h3>
<p class="postagens-blog">
Em resumo, a postura profissional é um combo de valores, comportamentos e atitudes que um profissional deve ter em seu trabalho.
Embora muitas pessoas estejam trabalhando de forma remota, ou seja, home office, normalmente a atenção deve ser redobrada. 
Mesmo que você esteja em um local tranquilo, dependendo do ambiente, algumas situações externas podem atrapalhar o seu desempenho. 
Portanto, basta você focar nas suas funções e sempre lembrar das suas metas diárias. Isso certamente vai proporcionar crescimento para a sua carreira.
</p>


<h3 class="titulos-blog"> Como a postura profissional ajuda as empresas? </h3>
<p class="postagens-blog">
Em primeiro lugar, entenda um detalhe: a postura profissional é fundamental para todo tipo de negócio. No entanto, cada um deles tem total liberdade para implementar as políticas internas que desejam de cada colaborador. 
Mas, tem outro ponto: existem condutas que são essenciais dentro de toda empresa. E de forma alguma você pode ter dentro do seu ambiente de trabalho. Por exemplo, agressões físicas e verbais, preconceito, desvios de recursos, dentre outros.
Isso vale para quem trabalha de forma presencial e também para as pessoas que trabalham em um formato home office. Afinal, há condutas que são inegociáveis. Por isso, você deve seguir, para o seu bem e da sua empresa.
Diante disso, continue com a Dominnus e confira como ter uma postura correta para ter um desenvolvimento profissional que leve você até a concretização dos seus objetivos.
</p>


<h3 class="titulos-blog"> Como ter uma boa postura profissional? </h3>
<img class="imagens-blog"  src="https://images.unsplash.com/photo-1495603889488-42d1d66e5523?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=871&q=80" alt="">

<p class="postagens-blog">
Primeiramente, como falamos acima, a postura profissional é a base para o desenvolvimento de toda pessoa que deseja alcançar as metas na carreira. Sendo assim, nada melhor do que saber como ter uma postura adequada, não é mesmo?
Então, vamos lá! Separamos alguns pontos importantes para você ter uma postura profissional que chame a atenção de diversas empresas.
Pontualidade: Seja pontual no seu trabalho, pois chegar atrasado nas suas funções certamente vai causar uma má reputação com seus superiores.
Comunicação: A comunicação é outro ponto crucial para você ter uma postura profissional correta. Portanto, clareza, objetividade e cordialidade não podem faltar na sua rotina. 
Além disso, vale lembrar que ter linguagem inadequada não é bem aceita em locais de trabalho. Por isso, evite!
Ética: Claro que não poderíamos deixar de mencionar  a ética profissional. Todo profissional deve ser honesto, íntegro e respeitar os colegas de trabalho. 
Aliás, essa é a base para seu trabalho fluir de forma eficiente e benéfica, para você e também para a empresa.
Fora esses três pontos que acabamos de citar, não esqueça também de ter boa aparência e atitude correta com seus colegas de trabalho. Com esse combo que citamos, tenha a certeza que você vai dar um boom positivo na sua carreira.
</p>


<h3 class="titulos-blog"> Qual a importância de uma postura profissional correta? </h3>
<img class="imagens-blog" src="https://images.unsplash.com/photo-1551434678-e076c223a692?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80" alt="">

<p class="postagens-blog">
A postura profissional correta é o que vai levar você até os resultados que tanto deseja. Além disso, a sua postura vai proporcionar crescimento na carreira. 
Isso pelo fato dela ajudar na harmonia do ambiente de trabalho e na produção da empresa. Já imaginou uma equipe trabalhando com uma postura profissional correta? É dessa forma que muitos negócios alcançam suas metas com qualidade.
Sendo assim, confira alguns fatores importantes que uma postura profissional adequada pode gerar: <br>

<ul class="postagens-blog">
  <li>  <strong> Respeito: </strong> Ter uma postura profissional correta e ter respeito pelos demais colegas de trabalho, clientes e fornecedores é essencial. Isso porque acaba proporcionando um ambiente mais leve e produtivo; </li> <br><br>
  <li> <strong>  Credibilidade: </strong> Manter uma boa postura transmite mais credibilidade para seus superiores. Assim, consequentemente aumenta a confiança de todos no seu trabalho; </li>  <br><br>
  <li> <strong> Oportunidades de carreira: </strong> Proporciona novas oportunidades de carreira, com promoções e possibilidade de novos cargos; </li> <br><br>
  <li>  <strong>  Imagem pessoal: </strong> A postura correta é fundamental para a sua imagem pessoal. Com uma boa imagem pessoal é possível melhorar a sua rede de contatos, ou seja, seu networking; </li> <br><br>
  <li> <strong> Ambiente de trabalho mais saudável: </strong> Ao adquirir uma postura profissional adequada, você consegue deixar o seu ambiente de trabalho mais saudável e produtivo. Isso consequentemente vai gerar resultados mais eficazes. </li>  <br><br>
</ul>



<h3 class="titulos-blog"> Melhore sua postura profissional com a Dominnus! </h3>

<p class="postagens-blog">
Como ter uma postura profissional correta? Então, depois de acompanhar a leitura deste artigo com a gente, temos a certeza que você sabe a resposta desta pergunta. Portanto, não perca tempo, comece a melhorar sua postura profissional hoje mesmo.
Anote todas as dicas que apresentamos durante o decorrer deste conteúdo e comece a colocar em prática. Lembre-se de um detalhe: o profissional que segue uma melhoria contínua, consegue se destacar dos demais.
Sendo assim, seja você um desses profissionais de destaque. Conheça os nossos produtos e serviços e veja como podemos ajudar no seu desenvolvimento profissional. 
Ah, e para ficar por dentro de mais conteúdos como este, acompanhe o Blog da Plataforma Dominnus e aproveite. 
Com a gente você fica por dentro de conteúdos sobre desenvolvimento profissional, qualidade de vida, tecnologia, marketing e muito mais. Ou seja, um mix de conteúdo para o seu dia a dia.
</p>








<!--
  <ion-list>
    <ion-item *ngFor="let post of posts | filter:searchTerm">
      <div class="all-posts-page">
        <h2 class="big-title">{{ post.title }}</h2>
        <h3 class="big-subtitle">{{ post.subtitle }}</h3>
        <p class="author">{{ post.author }} - {{ post.date }}</p>
        <img class="post-image" [src]="post.image" alt="post.alt">
        <h4 class="post-content">{{ post.content }}</h4>
      </div>
    </ion-item>
  </ion-list>
-->





<h4 >
</h4>

</div>

<div>
<aside class="right-posts">
  helo
</aside>
</div>



</ion-content>

<ion-footer class="footer"> 

    
    
  <section class="p-menu1">
    <nav id="navbar" class="navigation" role="navigation">
      <input id="toggle1" type="checkbox" />
      <label class="hamburger1" for="toggle1">
        <div class="top"></div>
        <div class="meat"></div>
        <div class="bottom"></div>
      </label>

      <nav class="menu1" >
        <ion-label style="padding-left: 20px; margin-bottom: -50px;" [routerLink]="['/building']">EVENTOS</ion-label>
        <ion-label style="padding-left: 20px;  margin-top: -30px;" [routerLink]="['/building']">PUBLICAÇÕES</ion-label>
        <ion-label style="padding-left: 20px; margin-top: -60px;" [routerLink]="['/building']">AGENDA</ion-label>
        <ion-label style="padding-left: 20px; margin-top: -90px;" [routerLink]="['/building']" >GALERIA DE FOTOS</ion-label>
        <ion-label style="padding-left: 20px; margin-top: -120px; " [routerLink]="['/building']">TRABALHE CONSOCO</ion-label>
      </nav>
  </nav> 

  

  </section>
  
    <div class="menu-footer">
      <ion-label [routerLink]="['/building']">EVENTOS</ion-label>
      <ion-label [routerLink]="['/building']">PUBLICAÇÕES</ion-label>
      <ion-label [routerLink]="['/building']">AGENDA</ion-label>
      <ion-label [routerLink]="['/building']" >GALERIA DE FOTOS</ion-label>
      <ion-label [routerLink]="['/building']">FALE CONSOCO</ion-label>
    </div>
  
    <div class="social-media-icons">

      <!-- ROUTER LINKS NÃO FUNCIONAM COM LINKS DE VERDADE  -->
      
      <!-- MAS DEU PRA RESOLVER USANDO UMA FUNÇÃO COM TYPESCRIPT -->
            
            <ion-label (click)="openExternalLinkFacebook()">  <ion-img class="new-social-icons" src="../../../assets/images-coopeere/facebook.png"></ion-img>  </ion-label>
            <ion-label (click)="openExternalLinkInstagram()"> <ion-img class="new-social-icons" src="../../../assets/images-coopeere/instagram.png"></ion-img> </ion-label>
            <ion-label (click)="openExternalLinkYouTube()"> <ion-img class="new-social-icons" src="../../../assets/images-coopeere/youtube.png"></ion-img> </ion-label>
          </div>
          
    
    
  </ion-footer>
